body{
    background-color: #dbe5e7;
    margin: 0px;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/montserratlight.woff2") format("woff2"),
          url("../fonts/montserratlight.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat Black";
    src: url("../fonts/montserratblack.woff2") format("woff2"),
          url("../fonts/montserratblack.woff") format("woff");
    font-display: swap;
  }

/*хэдэер*/
.header {
    background-color: #f5f5f5;
    box-shadow: 0 -1px 25px rgba(0,0,0,0.5);
}

header::before{
    display: block;                  /* делаем псевдоэлемент блоком для последующего работы с ним, как с простым div'ом */
    width:100%;                    /* устанавливаем ширину линию. Можно использовать произвольную ширину */
    content: '';                     /* позволяет вставлять генерируемое содержание в текст страницы, которое первоначально в тексте отсутствует */
    position: absolute;              /* абсолютное позиционирование для управления линиями */
    border-bottom: 10px solid #758594;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    
}

.header__author {
    width: 540px;
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header__name {
    margin: 0;
    font-family: 'Montserrat Black',sans-serif;
    font-size: 36px;
    color: #55585d;
}

.header__profession {
    margin: 0 0 10px 0;
    font-family: 'Montserrat Light',sans-serif;
    font-size: 16px;
    color: #727b83;
}

.header__link {
    width: 40px;
    height: 40px;
}

.header__button{
    display: flex;
    align-items: center;
    background-color: #53ba4f;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-decoration: none;
}

.header__telegram {
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px;
}

.header__button-text{
    font-family: 'Montserrat Light',sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 10px 10px 5px;
    color: white;
    text-transform: uppercase;
}

.main{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 60px auto;
}

.left-side__container{
    margin-right: 30px;
}
/*Начало About Me*/
.about-me{
    background-color: white;
    box-shadow: 0 0 25px rgba(116, 112, 112, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.about-me__heading{
    font-family: 'Montserrat Black',sans-serif;
    color: #55585d;
}

.about-me__text{
    font-family: 'Montserrat Light',sans-serif;
    font-size: 16px;
}

/*Начало Lastest Projects*/
.lastest-projects{
    background-color: white;
    box-shadow: 0 0 25px rgba(116, 112, 112, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.lastest-projects__heading{
    font-family: 'Montserrat Black',sans-serif;
    color: #55585d;
}

.lastest-projects__heading--level2{
    font-family: 'Montserrat Black',sans-serif;
    text-align: center;
    color: #6e787a;
    font-size: 20px;
}

.lastest-project__img--main{
    width: 100%;
    border-radius: 3px;
    margin-bottom: 40px;
    box-shadow: 0 0 3px rgba(116, 112, 112, 0.5);
}

.lastest-projects__text{
    font-family: 'Montserrat Light',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.lastest-projects__button {
    display: flex;
    justify-content: center;
}

.lastest-projects__link{
    display: flex;
    align-items: center;
    background-color: #43a0cc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-decoration: none;
}

.lastest-projects__like{
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px;
}

.lastest-projects__button-text{
    font-family: 'Montserrat Light',sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 10px 10px 5px;
    color: white;
    text-transform: uppercase;
   
}
/*Начало Contacts*/
.contacts {
    background-color: white;
    box-shadow: 0 0 25px rgba(116, 112, 112, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.contacts__address{
    display: flex;
}

.contacts__email{
    display: flex;
}

.contacts__map-icon{
    margin: 15px 10px 0 0;
}

.contacts__email-icon{
    margin-right: 10px;
}

.contacts__text{
    font-family: 'Montserrat Light',sans-serif;
}

.contacts__link{
    font-family: 'Montserrat Light',sans-serif;
    text-decoration: none;
    color: #53ba4f;
}

/*Начало Skills*/ /*Меня уже порядком заебал БЭМ*/
.skills{
    background-color: white;
    box-shadow: 0 0 25px rgba(116, 112, 112, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.skills__heading{
    font-family: 'Montserrat Black',sans-serif;
    color: #55585d;
}

.skills__text{
    font-family: 'Montserrat Light',sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.skills__name{
    font-family: 'Montserrat Light',sans-serif;
    color: #758594;
    font-weight: 600;
    margin-bottom: 3px;
}

.skills__full-bar{
    background-color: #caced1;
    height: 20px;
    width: 100%;
    text-align: center;
    z-index: 3;
    margin-bottom: 20px;
}

.skills__bar{
    position: relative;
    background-color: #53ba4f;
    height: 20px;
    z-index: 2;
}

.skills__bar--dot-net{
    width: 25%;
}

.skills__bar--delphi{
    width: 70%;
}

.skills__bar--web-kit{
    width: 15%;
}

.skills__bar--js{
    width: 1%; 
}

.skills__pecents{
    font-family: 'Montserrat Light',sans-serif;
    position: relative;
    z-index: 5;
    top: -35px;
}

/*Начало Languages*/
.languages{
    background-color: white;
    box-shadow: 0 0 25px rgba(116, 112, 112, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.languages__heading{
    font-family: 'Montserrat Black',sans-serif;
    color: #55585d;
}

.languages__text{
    font-family: 'Montserrat Light',sans-serif;
}

.languages__text--strong{
    font-family: 'Montserrat Light',sans-serif;
    color: #758594;
    font-weight: 600;
}

.language__star--full{
    width: 15px;
}

.language__star--half{
    height: 15px;
}

/*Начало Education*/
.education{
    background-color: white;
    box-shadow: 0 0 25px rgba(116, 112, 112, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.education__heading{
    font-family: 'Montserrat Black',sans-serif;
    color: #55585d;
}

.education__text--name{
    font-family: 'Montserrat Light',sans-serif;
    color: #758594;
    font-weight: 900;
    margin-bottom: 0px;
}

.education__text--place{
    font-family: 'Montserrat Light',sans-serif;
    color: #a8aeb4;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 10px;
}

.education__icon{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}


@media screen and (max-width: 1210px) {
    
    .header {
        width: 700px;
    }
}